<%= link_to 'Contact', contact_path, class: "popup-show", remote: true %> |
<%= link_to 'About', about_path, class: "popup-show", remote: true %>
<div class="copirights">
  &copy; Map for Parents
</div>