<!-- Modal -->
<div id="popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="popup-Label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="popup-label"></h3>
  </div>
  <div class="modal-error">
    <div id="popup-error"></div>
  </div>
  <div class="modal-body">
    <div id="popup-body"></div>
  </div>
  <div class="modal-footer">
    <div id="popup-footer"></div>
  </div>
</div>